@import "tailwindcss";

:root {
  --font-color-main: #5a3a1b;
  --background-main: #f8f7f3;
  --background-section: #ede8e1;
  --cta-button: #f6c589;
  --detail-1: #c4b87f;
  --detail-2: #8ead8c;
}

@theme inline {
  --color-background: var(--background-main);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background-main);
  color: var(--font-color-main);
  font-family: Arial, Helvetica, sans-serif;
}
