@import "tailwindcss";

@theme inline {
  --color-font-main: #5a3a1b;
  --color-main: #f8f7f3;
  --color-section: #ede8e1;
  --color-cta-button: #f6c589;
  --color-detail-1: #c4b87f;
  --color-detail-2: #8ead8c;
}
