@import "tailwindcss";

@theme inline {
  --color-font-main: #5a3a1b;
  --color-main: #f3ecd7;
  --color-section: #e2d3b8;
  --color-cta-button: #f6c589;
  --color-detail-1: #c4b87f;
  --color-detail-2: #8ead8c;
}
